<ion-card>
  <ion-card-header>
    Título de la Tarjeta
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <!-- Columna 1 -->
        <ion-col size="6">
          <!-- Contenido de la columna 1 -->
          <ion-label>Columna 1</ion-label>
          <ion-button expand="full">Botón 1</ion-button>
        </ion-col>

        <!-- Columna 2 -->
        <ion-col size="6">
          <!-- Contenido de la columna 2 -->
          <ion-label>Columna 2</ion-label>
          <ion-button expand="full">Botón 2</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
