select {
  width: 90%;
  height: 2rem;
  margin-bottom: 2rem;
  option {
    font-size: 14px;
    color: #1f1f1f;
    border-radius: 4px;
  }
}

.selected-text {
  font-weight: bold;
  font-size: 14px;
  color: #1f1f1f;
}
